<div class="about-us">
    <h1>Acerca de Health Horizon</h1>
    <p>Bienvenido a Health Horizon, tu socio en el cuidado de la salud y el bienestar. En Health Horizon, nos dedicamos a ofrecer servicios de salud integrales y de alta calidad que se centran en el individuo, abrazando el compromiso con la excelencia y la innovación en cada paso del camino.</p>

    <h2>Nuestra Misión:</h2>
    <p>En Health Horizon, nuestra misión es proporcionar acceso equitativo a servicios de salud excepcionales, promoviendo la prevención, el diagnóstico temprano y la atención integral. Nos esforzamos por ser líderes en la mejora continua de la salud y la calidad de vida de nuestros afiliados.</p>

    <h2>Nuestros Valores:</h2>
    <ul>
        <li>Compromiso con la Excelencia: Buscamos la excelencia en cada aspecto de nuestro servicio, desde la atención al cliente hasta la administración de programas de bienestar.</li>
        <li>Equidad en la Salud: Creemos en la igualdad de acceso a la atención médica de calidad para todos, promoviendo la inclusión y la diversidad.</li>
        <li>Innovación Constante: Abrazamos la innovación como medio para mejorar continuamente nuestros servicios y ofrecer soluciones de salud avanzadas.</li>
    </ul>

    <h2>Compromiso con Nuestros Afiliados:</h2>
    <p>En Health Horizon, valoramos la confianza que nuestros afiliados depositan en nosotros. Trabajamos incansablemente para comprender sus necesidades individuales y brindar soluciones personalizadas que promuevan un estilo de vida saludable.</p>

    <h2>Nuestros Profesionales:</h2>
    <p>Contamos con un equipo de profesionales de la salud altamente calificados y apasionados que se esfuerzan por brindar atención compasiva y experta a cada uno de nuestros afiliados.</p>

    <p>¡Gracias por elegir Health Horizon como tu socio en la salud! Estamos comprometidos a construir un futuro más saludable juntos.</p>
</div>
