<div class="container">
    <div class="table-container">
        <h2 class="table-title">Médicos Registrados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Especialización</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medico of medicos">
                    <td>{{medico?.nombre}}</td>
                    <td>{{medico?.codigo_especialidad}}</td>
                    <td>{{medico?.cedula}}</td>
                    <td>{{medico?.telefono}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <form [formGroup]="medicoForm" (ngSubmit)="Guardar()" class="doctor-form">
        <h2 class="form-title">Registrar un Médico</h2>

        <div class="form-group">
            <label for="name">Nombre del Médico</label>
            <input type="text" formControlName="nombre" id="nombre" placeholder="Ingrese el nombre del médico">
        </div>

        <div class="form-group">
            <label for="status">Especialización</label>
            <select id="status">
          <option value="1">Cardiologia</option>
          <option value="2">Pediatría</option>
          <option value="3">Oncología</option>
          <option value="4">Neurología</option>
          <option value="5">Ortopedía</option>
          <option value="6">Cirugía plástica</option>
        </select>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" formControlName="correo" id="correo" placeholder="Ingrese el Email del médico">
        </div>

        <div class="form-group">
            <label for="contraseña">Contraseña</label>
            <input type="text" formControlName="password" id="password" placeholder="Ingrese la cedula para el médico">
        </div>

        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" formControlName="telefono" id="telefono" placeholder="Ingrese el teléfono del médico">
        </div>

        <div class="form-group">
            <label for="ciudad">Ciudad de residencia</label>
            <input type="text" formControlName="codigo_ciudad" id="codigo_ciudad" placeholder="Ingrese la ciudad de residencia del médico">
        </div>

        <div class="form-group">
            <label for="cedula">Cedula</label>
            <input type="text" formControlName="cedula" id="cedula" placeholder="Ingrese la cedula del médico">
        </div>

        <div class="form-group">
            <label for="start-time">Hora de Inicio de la Jornada</label>
            <input type="text" id="start-timeInput">
        </div>

        <div class="form-group">
            <label for="end-time">Hora de Fin de la Jornada</label>
            <input type="text" id="end-timeInput">
        </div>

        <button (click)="Guardar()" type="submit" class="submit-btn">Registrar Médico</button>
    </form>
</div>