<p>navmenu-admin works!</p>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center" *ngIf="showMenuAdmin">
    <div class="navbar-brand-container">     
    </div>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Gestion</a>
            <a class="nav-item nav-link" routerLink="/services" routerLinkActive="active">Historal</a>
            <a class="nav-item nav-link" routerLink="/people" routerLinkActive="active">PQRS</a>
            
        </div>
    </div>
</nav>

