/* login.component.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; // Ajusta esto según tus necesidades
    background-color: white; // Color de fondo, cambia esto según tus preferencias
}

.login-form {
    width: 500px; // Ajusta esto según tus necesidades
    padding: 50px;
    border-radius: 15px;
    background-color: white;
    
    // Aplica la animación a cada elemento del formulario
    * {
        animation: slide-up 1s ease forwards;
    }
}

// Estilos para los campos del formulario
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

// Estilos para el botón de envío
button {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid; // Asegúrate de especificar un color para el borde
    color: white;
    background-color: #0077B6; // Color del botón, cambia esto según tus preferencias
}

.forgot-password,
.go-to-signup {
    color: gray;
    text-decoration: underline;
}

.small-checkbox {
    width: 15px;
    height: 15px;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
