<div class="forgot-container">
    <form class="forgot-form">
        <h2>¿Problemas para iniciar sesión?</h2>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Correo electrónico" required>
        </div>
        <p class="text-right"><a href="/signup" class="nueva-cuenta">Crear nueva cuenta</a></p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </div>
        <p class="text-center"><a href="/login" class="go-login">Iniciar sesión</a></p>
    </form>
</div>

