/* home.component.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.home-container {
    background-image: url('/assets/osos-clinic.jpg'); // Cambia esto a la ruta de tu imagen
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    .center-text {
        font-family: 'Roboto', sans-serif;
        font-size: 3em;
        color: #0077B6;
        text-shadow: 2px 2px 4px #34495E;
        opacity: 0;
        animation: slide-up 1s ease 0.5s forwards;
        display: block;
        text-align: center;
    }


    @keyframes slide-up {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
}


.home-form {
    width: 500px; // Ajusta esto según tus necesidades
    padding: 50px;
    height: 90vh;
     // Aplica la animación a cada elemento del formulario
     * {
        animation: slide-up 1s ease forwards;
    }
}

.links-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}   

