<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="contact-info">
    <h1>Contacto</h1>
    <p>¡Nos encantaría escucharte! Si tienes preguntas, comentarios o necesitas más información, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</p>

    <h2>Dirección</h2>
    <p>
        Health Horizon EPS<br>
        Carrera 12 #14-55<br>
        Medellin, 60058<br>
        Colombia
    </p>

    <h2>Teléfono</h2>
    <p>3216221615</p>

    <h2>Correo Electrónico</h2>
    <p>ericbedoyar@gmail.com</p>

    <h2>Horario de Atención</h2>
    <p>
        Lunes a Viernes: 7 am - 6 pm<br>
        Sábado: 8 am - 12 pm<br>
        Domingo: Cerrado
    </p>

    <h2>Redes Sociales</h2>
    <p>
        <a href="https://www.facebook.com"  target="_blank"><i class="fab fa-facebook-f fa-3x"></i></a>
        <a href="https://wa.me/+573216221615" target="_blank"><i class="fab fa-whatsapp fa-3x"></i></a>
    </p>

    <p>No dudes en visitarnos o contactarnos a través de teléfono o correo electrónico. Estamos comprometidos a brindarte el mejor servicio posible.</p>

    <p>¡Esperamos saber de ti pronto!</p>
</div>
