<div class="container">
    <h1 class="title">Nuestro Equipo</h1>
    
    

    <!-- Resto del contenido -->
    <div class="section">
        <h2 class="subtitle">Médicos</h2>
        <ul>
            <li>Dr. Juan Pérez - Cardiología</li>
            <li>Dra. María Gómez - Dermatología</li>
            <li>Dr. Carlos Rodríguez - Cirugía General</li>
            <li>Dra. Laura Martínez - Ginecología y Obstetricia</li>
            <li>Dr. Andrés López - Otorrinolaringología</li>
        </ul>
    </div>
    <div class="section">
        <h2 class="subtitle">Administradores</h2>
        <ul>
            <li>Eric Bedoya; CEO de nuestra empresa, joven emprededor nacido en San Jose del Guaviare, con estudios en la Universidad del Quindio y ahora de los mejores empresarios en toda colombia.</li>
            <li>Jhojan Ramirez; su asistente personal a el cual le paga con migajas, ademas el cual es explotado laboralmeente, de hecho si estas leyendo esto por favor ayuda...</li>
        </ul>
    </div>
</div>