<div class="container">
    <h1 class="title">Historial de Atenciones</h1>
    <div class="history-table">
      <table>
        <thead>
          <tr>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Síntomas</th>
            <th>Diagnóstico</th>
            <th>Tratamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Luis Alvarez</td>
            <td>2023-01-15</td>
            <td>Fiebre, dolor de cabeza</td>
            <td>Gripe</td>
            <td>Descanso, medicamentos</td>
          </tr>
          <tr>
            <td>Ana Ramirez</td>
            <td>2023-01-23</td>
            <td>Fiebre, nauseas</td>
            <td>Virus</td>
            <td>Descanso, medicamentos</td>
          </tr>
          <tr>
            <td>Samuel Alvarez</td>
            <td>2023-02-10</td>
            <td>Fiebre, dolor de cabeza, tos</td>
            <td>COVID19</td>
            <td>Descanso, medicamentos y cuarentena</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
    </div>
  </div>
  