<div class="container">
    <h1 class="title">Bienvenido a Health Horizon: </h1>
    <h1 class="title2">Un futuro más saludable, un horizonte más brillante</h1>
    <p>En Health Horizon, damos la bienvenida a todos nuestros visitantes con los brazos abiertos a nuestro compromiso inquebrantable 
        con la salud y el bienestar. Somos más que una clínica; somos tu socio dedicado en tu viaje hacia una vida más saludable y 
        equilibrada.</p>
    <div class="section">
        <h2 class="subtitle">Especialidades Médicas</h2>
        <p>Descubre una amplia gama de especialidades médicas diseñadas para abordar todas tus necesidades de salud. Desde medicina familiar hasta especialidades más especializadas, 
            nuestro equipo de profesionales altamente calificados está aquí para proporcionar la atención experta que mereces.</p>
    </div>
    <div class="section">
        <h2 class="subtitle">Nuestros médicos</h2>
        <p>Conoce a nuestros apasionados médicos, cada uno especializado en áreas específicas para brindar un enfoque personalizado a tu atención médica. 
            Nuestra dedicación a la excelencia y la compasión garantiza que recibas la atención que te mereces en cada visita.</p>
    </div>
    <div class="section">
        <h2 class="subtitle">Proceso de Registro</h2>
        <p>Descubre cómo puedes unirte a la comunidad de Health Horizon. Desde el proceso de registro hasta la gestión de tu cuenta, 
            te proporcionamos una experiencia sencilla y conveniente para que puedas centrarte en lo que más importa: tu salud.</p>
    </div>
    <div class="section">
        <h2 class="subtitle">PQRS</h2>
        <p>En Health Horizon, valoramos la retroalimentación de nuestros pacientes. Aprende cómo puedes utilizar nuestro servicio de PQRS (Peticiones, Quejas, Reclamos y Sugerencias)
             para compartir tus experiencias y contribuir a mejorar continuamente nuestros servicios.</p>
    </div>
    <div class="section">
        <h2 class="subtitle">Información de Contacto</h2>
        <p>Encuentra nuestra información de contacto fácilmente. Ya sea que necesites programar una cita, hacer una pregunta o proporcionar retroalimentación, estamos aquí para escucharte. 
            Tu bienestar es nuestra prioridad, y estamos comprometidos a ofrecer un servicio al cliente excepcional.</p>
            <p>En Health Horizon, nos enorgullece ser tu destino confiable para la atención médica de calidad. Únete a nosotros en la búsqueda de un futuro más 
                saludable y descubre el cuidado que marca la diferencia. ¡Bienvenido a Health Horizon!</p>
    </div>
</div>
