.custom-right-align {
    position: absolute;
    top: 0;
    right: 0;
    // width: 100%;
}

.menu_primero {
    z-index: 1;
    height: 1000px;
}

.menu_segundo {
    z-index: 2;
    //margin-top: ;
}
