<div class="container">
    <div class="table-container">
      <h2 class="table-title">PQRS Registradas</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre del Paciente</th>
            <th>Consulta Asociada</th>
            <th>Estado</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Luis Alvarez</td>
            <td>150512</td>
            <td>En progreso</td>
            <td>
              <label for="btn-modal">Detalles</label>
            </td>
          </tr>
          <tr>
            <td>Felipe Ramirez</td>
            <td>457896</td>
            <td>Resuelta</td>
            <td>
              <label for="btn-modal">Detalles</label>
            </td>
          </tr>
          <tr>
            <td>Lorena Valencia</td>
            <td>779965</td>
            <td>En progreso</td>
            <td>
              <label for="btn-modal">Detalles</label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <input type="checkbox" id = "btn-modal">
    <div class = "container-modal">
      <div class = "content-modal">
        <h2>Detalles de la PQRS</h2>
        <p> Aqui va el detalle de la PQRS</p>
        <input type="text" id="text-respuesta" placeholder= "Aqui puedes respoder la PQRS">
        <div class = "btn-cerrar">
          <label for="btn-modal">Cerrar</label>
          <label for="btn-respuesta">Responder</label>
        </div>
      </div>

      <label for = "btn-modal" class = "cerrar-modal">
      </label>

    </div>
    <form class="pqrs-form">
      <h2 class="form-title">Registrar PQRS</h2>
  
      <div class="form-group">
        <label for="patient-name">Nombre del Paciente</label>
        <input type="text" id="patient-name" placeholder="Ingrese el nombre del paciente">
      </div>
  
      <div class="form-group">
        <label for="associated-consultation">Consulta Asociada</label>
        <input type="text" id="associated-consultation" placeholder="Ingrese el número de consulta">
      </div>
  
      <div class="form-group">
        <label for="status">Estado</label>
        <select id="status">
          <option value="en-progreso">En progreso</option>
          <option value="resuelta">Resuelta</option>
          <option value="Archivado">Archivado</option>
          <option value="nuevo">Nuevo</option>
        </select>
      </div>
  
      <button type="submit" class="submit-btn">Registrar PQRS</button>
    </form>
  </div>
  