@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  transition: opacity 0.5s ease, transform 0.5s ease;

   // Aplica la animación a cada elemento del formulario
   * {
    animation: slide-up 1s ease forwards;
}
 

  .table-container {
    width: 48%;

    .table-title {
      margin-bottom: 20px;
    }

    .table {
      width: 100%;
      font-family: sans-serif;
      font-weight: 100;
      overflow: hidden;
      box-shadow: 0 0 20px #0077B6;
      border-collapse: collapse;

      th, td {
        background-color: #cbe4ff;
        border: 2px solid #34495E;
        padding: 15px;
        text-align: left;
      }

      thead th{
        background-color: #0077B6;
      }

      tbody tr:hover{
        background-color:#ccc;

      }

      tbody td{
        position: relative;
      }

      tbody td:hover:before{
        content: "";
        position: absolute;
        background-color: rgba(225, 236, 22, 0.2);
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        z-index: -1;
      }
      
    }
  }

  .pqrs-form {
    width: 48%;

    .form-title {
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input, select {
        width: 100%;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid #ccc;
        transition: box-shadow 0.3s ease, transform 0.5s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px rgba(0,0,0,0.25);
        }
      }
    }
  }
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: #0077B6;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

@keyframes slide-up {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}