/* nav.menu.component.scss */
.navbar.navbar-light.bg-light {
    background-color: #0077B6 !important; // Cambia 'blue' al color azul que prefieras.
}

.navbar-brand-container {
    position: absolute;
    right: 0;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .nav-link {
        color: #ffffff;
    }

    .active {
        color: #34495E;
    }
    
}

.nav-item {
    a {
      display: flex;
      align-items: center;
      text-shadow: 0ch;
      transition: transform 0.2s ease, color 0.2s ease;
  
      i {
        margin-right: 5px;
        transition: transform 0.2s ease, color 0.2s ease;
      }
  
      &:hover {
        transform: scale(1.1);
        color: #34495E;
        i {
          transform: scale(1.1);
          color: #ffffff;
        }
      }
    }
  }
  
