<h1>EPS EJEMPLO</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/home" routerLinkActive="active-link" class="nav-link">Home</a>
    <a routerLink="/services" routerLinkActive="active-link" class="nav-link">Services</a>
    <a routerLink="/affiliates" routerLinkActive="active-link" class="nav-link">Affiliates</a>
    <a routerLink="/transparency" routerLinkActive="active-link" class="nav-link">Transparency</a>
    <a routerLink="/contact" routerLinkActive="active-link" class="nav-link">Contact</a>
</nav>