/* nav.menu.component.scss */
.navbar {
    background-color: #34495E; // Cambia 'blue' al color azul que prefieras.
    height: 50px; // Ajusta este valor a la altura que prefieras.

    .navbar-brand-container {
        position: absolute;
        right: 0;
    }

    .logo {
        height: 3em; // Ajusta este valor al tamaño que prefieras.
        width: auto;
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .nav-link {
            color: #ffffff;
            line-height: 50px; // Asegúrate de que este valor sea igual a la altura de .navbar.
        }

        .active {
            color: #007bff;
        }
    }
}

.nav-item {
    a {
        display: flex;
        align-items: center;
        text-shadow: 0ch;
        transition: transform 0.2s ease, color 0.2s ease;
    
        i {
          margin-right: 5px;
          transition: transform 0.2s ease, color 0.2s ease;
        }
    
        &:hover {
          transform: scale(1.1);
          color: #0077B6;
          i {
            transform: scale(1.1);
            color: #007bff;
          }
        }
      }
  }
  
