<nav class="navbar navbar-expand-lg navbar-light navbar-light-custom aligh-right">
    <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
            <button class="login-button" (click)="goToLogin()">Login</button>
        </li>
        <li class="nav-item">
            <button class="signup-button" (click)="goToSignUp()">Signup</button>
        </li>
        <li class="nav-item">
            <a routerLink="/forgotpassword" routerLinkActive="active-link" class="nav-link forgot-account-link">Forgot Password</a>
        </li>
    </ul>
</nav>
