/* signup.component.scss */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.signup-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; // Cambia esto para alinear el formulario con la parte inferior de la imagen
    height: 90vh; // Ajusta esto según tus necesidades
    background-color: white; // Color de fondo, cambia esto según tus preferencias
    border-left: 1px solid #000;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
    }
    // Aplica la animación a cada elemento del formulario
    * {
        animation: slide-up 1s ease forwards;
    }
}

.container {
    flex: 1;
}

.signup-form {
    width: 48%; // Ajusta esto según tus necesidades
    padding: 50px;
    height: 90vh;
    margin-top: 150px;
    /* Ajusta esto para mover el formulario más abajo */
    border-radius: 15px;
    background-color: white;
    // Aplica la animación a cada elemento del formulario
    * {
        animation: slide-up 1s ease forwards;
    }
    .profile-pic-group {
        position: relative;
        #profile-pic {
            display: none;
        }
        .profile-pic-preview {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #ccc;
            overflow: hidden;
            cursor: pointer;
            transition: box-shadow 0.3s ease;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    // Estilos para los campos del formulario
    input,
    select {
        width: 50ch;
        padding: 10px;
        //font-size: 0;
        border-radius: 15px;
        border: 1px solid #ccc;
        transition: box-shadow 0.3s ease, transform 0.5s ease;
        margin-bottom: 20px; // Añade un margen inferior para separar los campos de entrada
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        }
    }
    // Estilos para el botón de envío
    button {
        width: 100%;
        padding: 10px;
        border-radius: 3px;
        border: 2cm;
        color: white;
        background-color: #0077B6; // Color del botón, cambia esto según tus preferencias
    }
    .already-account {
        color: gray;
        text-decoration: underline;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
