<div class="container">
    <h1 class="title">Nuestras Empresas Asociadas</h1>
    <div class="section">
        <h2 class="subtitle">Medimás EPS</h2>
        <p>MEDIMÁS EPS S.A.S. es una sociedad comercial privada del tipo por acciones simplificada, 
            de conformidad con lo previsto en la Ley 1258 de 2008, constituida mediante documento privado, 
            autorizada para operar como Entidad Promotora de Salud para operar los Regímenes Contributivo y Subsidiado</p>
    </div>
    <div class="section">
        <h2 class="subtitle">EPS Sanitas S.A</h2>
        <p>EPS Sanitas es la empresa promotora de salud creada en 1994 como respuesta a la reforma de la Seguridad Social en Colombia. 
            Ofrecemos los servicios de atención en salud y prestaciones económicas a las cuales tiene derecho todo afiliado dentro del Plan de Beneficios en Salud (PBS).</p>
    </div>
    <div class="section">
        <h2 class="subtitle">Nueva EPS S.A</h2>
        <p>NUEVA EPS es una sociedad anónima constituida mediante la escritura pública No. 753 del 22 de marzo de 2007, que surge como Entidad Promotora de Salud del Régimen Contributivo a través de la Resolución No. 371 del 3 de abril de 2008 y del Régimen Subsidiado a través de la Resolución No. 02664 del 17 de diciembre de 2015 de la Superintendencia Nacional de Salud.

            NUEVA EPS inició operaciones el 1 de agosto de 2008 con los afiliados del Instituto de Seguros Sociales (ISS) que fueron trasladados a la Compañía. 
            
            NUEVA EPS ha logrado crecer en usuarios convirtiéndose en una de las EPS más grandes del país y la primera en cobertura con presencia en 1.117 municipios.
            
            </p>
     <div class="section">
        <h2 class="subtitle">Medimás EPS</h2>
          <p>Una EPS que trabaja a diario para acompañarte en el cuidado de tu salud, por esta razón, 
            nuestro objetivo es brindarte experiencias excepcionales que nos permitan ​ser tu primera opción en soluciones de bienestar integral.
            apasiona ser parte de la transformación de la comunidad, con un servicio innovador que se apoya en redes articuladas, 
            para contribuir a la prosperidad colectiva.
        </p>        
</div>
